.topHead {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004588+0,1981d6+50,2989d8+50,ef6b6b+51,a70c10+52,8f0a0d+100 */
  background: #004588; /* Old browsers */
  background: -moz-linear-gradient(top,  #004588 0%, #1981d6 50%, #2989d8 50%, #ef6b6b 51%, #a70c10 52%, #8f0a0d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #004588 0%,#1981d6 50%,#2989d8 50%,#ef6b6b 51%,#a70c10 52%,#8f0a0d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #004588 0%,#1981d6 50%,#2989d8 50%,#ef6b6b 51%,#a70c10 52%,#8f0a0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004588', endColorstr='#8f0a0d',GradientType=0 ); /* IE6-9 */
  padding:5px 0 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  border-bottom:1px solid white;
  width:100%;
  position: fixed;
  top:0;
  z-index: 1000;
}
.logoWrapper {
  display:inline-block;
  padding:10px 0;
}
.logoWrapper a {
  display:block;
  margin:20px 0 0 0;
}
.logoWrapper a .logoSquare {
  display:block;
  box-sizing: border-box;
  overflow: hidden;
  width:100%; 
}
.logoWrapper a .logoSquare img {
  width:100%;
}
.logoWrapper a .logoText{
  display:block;
  width:100%
}
.logoWrapper a .logoText img {
  width:100%
}
.searchWrapper {}
.browseMenu {
  width:300px;
  padding:15px 0 0 0;
  overflow: hidden;
}
.browseMenu .mItem {
  display: inline-block;
}
.searchWrapper .mainNav {
  padding:10px 0;
  height:40px;
}
.searchWrapper .mainNav a {
  color: rgba(255,255,255,.8);
  font-size: 12px;
  text-decoration:none;
  display:inline-block;
  padding:2px 10px;
  text-transform: uppercase;
}
.searchWrapper .mainNav a:not(:last-child) {
  border-right: 1px solid rgba(255,255,255,.3);
}
.searchWrapper .searchInput {
  background-color: #efefef;
  border-radius: 4px;
  border:3px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  
}
.searchWrapper .searchInput input[type="search"] {
  background-color:transparent;
  border:none;
  padding:5px 10px;
  outline: none;
  font-size:23px;
  font-family: 'Roboto Slab', serif;
  font-weight:bold;
  width:84%;
}
.searchWrapper .searchInput button {
  border:none;
  background-color:rgba(0,0,0,.05);
  font-size:23px;
  color:rgba(0,0,0,.6);
  padding:5px 15px;
  width: 16%;height:102%;
  float:right;
  text-align: center
}

.suT {
  margin:10px 0 0;
  color: rgba(255,255,255,.8);
  display:block;
  text-align: right;
}
.suT a {
  font-weight: 500;
  color: rgba(255,255,255,.8);
  text-decoration: underline;
}