
::selection {
    color:white;
    background-color: #07008d;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top:165px;
  background-color: rgba(0,0,0,.05);
}
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.authCenter {
    height:100%;
    position:relative;
}
.authCenter:after {
    content:' ';
    display:block;
    height:280px;
    border-right:1px solid rgba(0,0,0,.3);
    position:absolute;
    left:50%;
}

@media (max-width: 768px) {
    body {
        padding-top: 125px !important;
    }
    .searchWrapper {
        margin-top: -30px !important;
    }
    .mainNav {
        padding: 5px 0 !important;
        height: 30px !important;
    }
    .suT {
        margin: 5px 0 0 !important;
    }
    .topHead {
        padding-bottom:5px !important;
    }
    .searchInput {
        height:40px !important;
    }
    .searchInput input[type="search"] {
        font-size: 18px !important;
    }
    .searchInput button {
        font-size: 18px !important;
    }
    .sharingContainer ul li span {
        padding: 2px 10px !important;
    }
    .sharingContainer ul li span b {
        display: none !important;
    }
}
@media (min-width: 768px) {
  .container-small {
      width: 850px;
  }
  .container-large {
      width: 970px;
  }
  
} 
@media (min-width: 992px) {
  .container-small {
      width: 850px;
  }
  .container-large {
      width: 1170px;
  } 
} 
@media (min-width: 1200px) {
  .container-small {
      width: 850px;
  }
  .container-large {
      width: 1500px;
  }
  
}

.container-small, .container-large {
  max-width: 100%;
}

.hover:hover {
    cursor: pointer;
}

.SlideIn-appear {
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -o-transform: translateX(15px);
  -ms-transform: translateX(15px);
  opacity: 0;
}

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transition: all 0.4s linear;
}
.SlideIn-enter {
    opacity: 0;
    transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -o-transform: translateX(15px);
  -ms-transform: translateX(15px);
}
.SlideIn-enter.SlideIn-enter-active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transition: all 0.2s linear 0.3s;
}
.SlideIn-leave {
    opacity: 1.0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}
.SlideIn-leave.SlideIn-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transition: all 0.2s linear;
}

.SlideOut-appear {
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  opacity: 0;
}

.SlideOut-appear.SlideOut-appear-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transition: all 0.6s linear;
}
.SlideOut-enter {
    opacity: 0;
    transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
}
.SlideOut-enter.SlideOut-enter-active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transition: all 0.2s linear 0.4s;
}
.SlideOut-leave {
    opacity: 1.0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}
.SlideOut-leave.SlideOut-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transition: all 0.2s linear;
}

.icon-first i {
    margin-right:10px;
    display:inline-block
}
/*
.expose-enter {
    height: 0px;
}

.expose-enter.expose-enter-active {
    height: 100px;
    transition: height 1s ease;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
}

.expose-leave.expose-leave-active {
    height: 0px;
    transition: height 1s ease;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
} */

.expose-appear {
    opacity    : 0;
    transition : opacity .7s ease-in;
  }
  
  .expose-appear.expose-appear-active {
    opacity : 1;
  }

  .expose-enter {
    max-height : 0;
    transition : all .3s ease-in;
  }
  
  .expose-enter.expose-enter-active {
    max-height : 1000px;
  }

  .expose-leave {
    max-height : 1000px;
    transition : all .3s ease-out;
  }
  
  .expose-leave.expose-leave-active {
    max-height : 0;
  }
.drawerHeader {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004588+0,1981d6+98,1981d6+98,2989d8+99 */
    background: #004588; /* Old browsers */
    background: -moz-linear-gradient(top,  #004588 0%, #1981d6 98%, #1981d6 98%, #2989d8 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #004588 0%,#1981d6 98%,#1981d6 98%,#2989d8 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #004588 0%,#1981d6 98%,#1981d6 98%,#2989d8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004588', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding:25px 15px 15px;
    position: relative
}
.drawerHeader a {
    color: rgba(255,255,255,.6);
}
.drawerHeader a.drawerClosebtn {
    position: absolute;
    top: 0; right: 0;
    padding: 1px 10px;
    font-size:16px;
    transition: all .28s ease;
    text-decoration:none !important;
}
.drawerHeader a.drawerClosebtn:hover, .drawerHeader a.drawerClosebtn:focus {
    color: white;
    text-decoration:none !important;
}
.drawerTabLinks {
    text-align: center;
    margin:5px 0 3px;
}
.drawerTabLinks a {
    display: inline-block;
    margin-right:5px;
    font-size:11px;
    color: rgba(0,0,0,.6);
    text-transform: uppercase;
    padding:3px;
}
.drawerTabLinks a:not(:last-child):after, .drawerNotifOptions a:not(:last-child):after {
    content: '·';
    display: inline-block;
    margin-left:5px;
}
.drawerTabs > div > div {
    background-color: transparent !important;
}
.drawerTabs > div > div button {
    color: rgba(0,0,0,.7) !important;
}
.drawerTabs > div > div button div div {
    height:30px !important;
    font-size:12px;
    background-color: rgba(0,0,0,.03);
};
.drawerTabs > div > div button:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.075) !important;
}
.sideNotificationsList {
    padding:0
}
.sideNotificationsList li {
    position: relative;
}
.sideNotificationsList li button {
    position: absolute;
    top:0;right:0;
    z-index: 99999;
    border:none;
    background-color: transparent;
    color: rgba(0,79,130,.6);
    padding:5px 10px;
    transition: all .28s ease;
    border-radius: 4px
}
.sideNotificationsList li button:hover {
    color: rgba(0,79,130,.9);
    background-color: rgba(0,79,130,.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}
.sideNotificationsList li:not(:last-child) {
    border-bottom:1px solid rgba(0,0,0,.07);
}
.sideNotificationsList li a {
    display: block;
    padding:10px;
    color: rgba(0,0,0,.7);
    text-decoration: none
}
.sideNotificationsList li a small {
    display: block;
    color: rgba(0,0,0,.4);
    transition: all .28s ease;
}
.sideNotificationsList li.unread {
    background-color: #edf2fa;
    transition: all .28s ease;
}
.sideNotificationsList li.unread a {
    color: #003471;
    font-weight: 500
}
.sideNotificationsList li.unread:hover a {
    color: rgba(0,0,0,.8);
}
.sideNotificationsList li.unread:hover a small {
    color: rgba(0,0,0,.6);
}
.drawerNotifOptions {
    padding:0 0 0 7px !important;
    margin:-10px 0 0;
}
.drawerNotifOptions a {
    display: inline-block !important;
    font-size:10px;
    color: rgba(0,0,0,.5) !important;
    padding:3px 3px !important;
    margin-right:5px
}
.savedTermTabStyle {
    height: 100%;
}
.drawerSavedTerms {
    background-color: rgba(0,0,0,.05);
    padding: 5px 0 25px;
    height:100%
}
.drawerSavedTerms ul {
    list-style: none;
    padding: 5px 10px;
}
.drawerSavedTerms ul .singleSavedTerm {
    padding: 10px;
    margin-bottom:15px
}
.stTopActions a {
    font-size:11px;
    color: rgba(0,0,0,.6);
}
.stTopActions a.pull-left:hover {
    text-decoration: none !important
}
.singleSavedTerm a h4 {
    color: rgba(0,0,0,.6);
}
.singleSavedTerm p.drawerDefinition {
    font-weight: 300
}
.singleSavedTerm .drawerSavedFooter {
    padding: 0 !important
}
.singleSavedTerm .drawerSavedFooter li {
    display: inline-block;
    margin-right:10px;
    font-size:13px;
    color: rgba(0,0,0,.55);
}